.mille-wok-title
{
    padding-top: 5rem;
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.titre-principal
{
    text-align: center;
    display: grid;
    color: #C6A66C;
    text-shadow: 0px 0px 10px rgba(0,0,0,7);
}
.sous-titre
{
    text-align: center;
    display: grid;
    font-size: larger;
    color: #C6A66C;
}
body
{
    z-index: 2;
    font-family: sans-serif;
    margin: 0;  
    padding: 0;
    background-image: url("nos-restaurants-bg.png"); 
    background-size: cover;     
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}
.nos-signatures
{
    max-width: 80vw;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    color: #6b3e1e;;
    background-color: beige;
    border: 3px solid;
    border-radius: 10px;
    box-shadow: 0 7px 10px 8px rgba(0,0,0,0.7)
}
.nos-signatures p
{
    color: black;
}
.menu-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: Arial, sans-serif;
}
.row 
{
  display: flex;
  justify-content: center; 
  gap: 40px; 
  margin-top: 30px;
}
.box 
{
  background-color: beige;
  border: 3px solid #c6a66c;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.7);
}
.box h2 
{
  color: #6b3e1e;
}
.box p
{
  font-weight: normal;
  margin: 5px 0;
}
.toppings 
{
  background-color:beige;
  border: 3px solid #c6a66c;
  border-radius: 10px;
  padding: 20px;
  width: 80%; 
  margin: 2rem auto; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.7); 
}

.toppings h2 
{
  text-align: center;
  color: #5b3a29;
  margin-bottom: 10px;
}
.colonnes 
{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.colonne-1, .colonne-2 
{
  flex: 1;             
  text-align: center;
}
.toppings h3
{
  font-size: small;
  margin: 4px 0;
  color: black;
}
.sauce
{
  background-color:beige;
  border: 3px solid #c6a66c;
  border-radius: 10px;
  padding: 20px;
  width: 80%; 
  margin: 2rem auto; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.7); 
}
.sauce h2
{
  text-align: center;
  color: #5b3a29;
  margin-bottom: 10px;
}
.colonnes
{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.colonne-1,.colonne-2
{
  flex: 1;             
  text-align: center;
}
.extras-desserts-boissons
{
  background-color:beige;
  border: 3px solid #c6a66c;
  border-radius: 10px;
  padding: 20px;
  width: 80%; 
  margin: 2rem auto; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.7); 
}


