body {
    z-index: -1;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../assets/img/nos-restaurants-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: -1;
}

.restaurant {
    color: rgb(113, 62, 17);
}

.restaurant ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.sous-titre {
    font-size: larger;
}

.villes {
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 4rem;
    margin-top: 2rem;
    color: rgba(68, 61, 18, 0.642);
}

.ville {
    width: 260px;
    height: 350px;
    background-color: beige;
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 0 7px 10px 8px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.image-nr {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}


@media (max-width: 920px) {
    .villes {
        grid-template-columns: auto auto;
        margin: 0 2rem;
        gap: 3rem;
    }
}

@media (max-width: 530px) {
    .villes {
        grid-template-columns: auto;
    }
}