header
{
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    color: #C6A66C;
}
.titre-principal
{
   text-shadow: 0px 0px 10px rgba(0,0,0,1);
   color: #C6A66C;
}
.mille-wok-title 
{
    padding-top: 5rem;
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.restaurant
{
    color: rgb(113, 62, 17);
}
.sous-titre
{
    font-size: larger;
}
body
{
    z-index: 2;
    font-family: sans-serif;
    margin: 0;  
    padding: 0;
    background-image: url("nos-restaurants-bg.png"); 
    background-size: cover;     
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

.villes
{
    text-align: center;
    display: grid;
    justify-content: center;  
    align-content: center;   
    grid-template-columns: auto auto auto;     
    gap: 4rem;         
    margin-top: 2rem;
    color: rgba(68, 61, 18, 0.642);
}
.ville
{
    width: 260px;
    height: 350px;
    background-color: beige;
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 0 7px 10px 8px rgba(0,0,0,0.6)
}
.image-nr
{
    width: 260px;
    height: 150px;
}


@media (max-width: 640px) {
    .villes {
        grid-template-columns: auto auto;
        margin: 0 2rem;
        gap: 0.5rem;
    }
}

@media (max-width:320px) {
    .villes {
        grid-template-columns: auto;
    }
}