body{
    background: #121212;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    border: 5px solid rgb(231, 212, 87);
    border-radius: 14px;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 2rem;
}

section{
    display: flex;
    justify-content: space-evenly;
}

.inputMessage{
    width: 730px;
    height: 300px;
    padding: 10px;
}

.inputSujet{
    width: 730px;
}

/* Bordure par défaut */
input, textarea {
    border-radius: 20px;
    border: solid 5px rgb(231, 212, 87);
}

/* Bordure rouge SEULEMENT quand :
   - le champ est required
   - il est vide
   - l'utilisateur a quitté le champ */
input:required:invalid:not(:focus),
textarea:required:invalid:not(:focus) {
    border-color: red;
}

h3{
    color: rgb(231, 212, 87);
}

button {
    width: 7rem;
    display: flex;
    justify-content: center;
    justify-self: center; 
    border-radius: 20px;
    padding: 12px 24px;
    background-color: rgb(231, 212, 87);
}
