header
{
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    color: #C6A66C;
}

.mille-wok-title 
{
    margin-top: 5rem;
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.restaurant
{
    color: rgb(113, 62, 17);
}

.sous-titre
{
    font-size: larger;
}

body
{
    background-color: #121212;
}

.villes
{
    text-align: center;
    display: flex;
    justify-content: center;     
    gap: 4rem;       
    flex-wrap: wrap;           
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    color: rgba(68, 61, 18, 0.642);

}

.ville
{
    width: 260px;
    height: 320px;
    background-color: beige;
    border: 5px solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 10px 8px rgba(0,0,0,0.6)
}

.image-nr
{
    border-radius: 10px;
    width: 260px;
    height: 150px;
}

