header
{
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    color: #C6A66C;
}

.restaurant
{
    color: rgb(113, 62, 17);
}

.sous-titre
{
    font-size: larger;
}

body
{
    background-color: rgba(5, 4, 0, 0.849);
}

.villes
{
    text-align: center;
    display: flex;
    justify-content: center;    
    gap: 80px;                 
    flex-wrap: wrap;           
    margin-top: 30px;
    color: rgba(68, 61, 18, 0.642);

}

.ville
{
    width: 250px;
    background-color: beige;
    border: 5px solid;
    padding: 20;
    border-radius: 10px;

 }

