header
{
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    color: #C6A66C;
}
.mille-wok-title 
{
    margin-top: 5rem;
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.restaurant
{
    color: rgb(113, 62, 17);
}
.sous-titre
{
    font-size: larger;
}
body
{
    font-family: sans-serif;
    background-color: #121212;
}
.villes
{
    text-align: center;
    display: grid;
    justify-content: center;  
    align-content: center;   
    grid-template-columns: auto auto auto;     
    gap: 4rem;         
    margin-top: 2rem;
    color: rgba(68, 61, 18, 0.642);
}
.ville
{
    width: 260px;
    height: 340px;
    background-color: beige;
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 0 7px 10px 8px rgba(0,0,0,0.6)
}
.image-nr
{
    width: 260px;
    height: 150px;
}
.carte-france
{
    width: 700;
    height: 200;
    border-radius: 5px;
    margin-top: 2rem;
    display: block;
}